## Python Type System
Python can be characterized as having a **dynamic** and **strong** type system.

### Dynamic Typing
The **type** of an object isn't resolved until the program is run.

In [1]:
def add(a, b):
    return a+b

# Nowhere in the definition are any types declared

In [3]:
# Call it with integers
add (1, 3)

4

In [4]:
# Call it with strings

add('hellow', 'world')

'hellowworld'

In [5]:
# Do it with lists
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [8]:
# Strong typing
# mixed objects not allowed

#add(1, "hello") #doesn't work
add(str(1), " hello") #does work

'1 hello'

## Variable Delcration and Scope

Type declarationare not necessaray in Python, and variables are essentially just untyped name binding to objects

### Identical names in global and local scope
When you need a rebind a global name at module scope, follow the next rules:

### The LEGB Rule
There are four types of scopes: 
* **Local**: names defined inside the current function
* **Enclosing**: names defined inside anyand all enclosing function.
* **Global**: names defined at the top-level of a module
* **Built-in**: names built into tthe Python lanuague thorugh the special  **builtins** module

# Collections
We have already test these collections:
* **str** the immutable string sequence of unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immuatable keys to mutable objects

## Some new collections:
* **tuple** the immutable sequence of objects
* **range** for arithmetic progression of integers
* **set** a mutable collection of unique, immutable objects

## Tuple
Similar to list, but delimited by **parenthesis** rather than square brackets

Access members y *index* notation with **[]**

In [12]:
t = ("Ogden", 1.99, 2)
print(t)
print (type(t))
t[0]

('Ogden', 1.99, 2)
<class 'tuple'>

'Ogden'

In [13]:
# Get the legnth
len(t)

3

In [14]:
# Iterate over a tuple
for item in t:
    print(item)

Ogden
1.99
2

### Concatenation and Repetition of Tuples

In [15]:
t + ('hello', 'you', 3)

('Ogden', 1.99, 2, 'hello', 'you', 3)

In [16]:
# Repetition
t * 2

('Ogden', 1.99, 2, 'Ogden', 1.99, 2)

### nested tuples

In [17]:
a = ((220, 284), (1183, 1210), (6233, 1234))
a

((220, 284), (1183, 1210), (6233, 1234))

In [19]:
# Access individidual members -- index notation
a[2][0]

6233

In [28]:
# single element tuple
h = (342,) # add comma to force tupple
print(h)
print(type(h))

(342,)
<class 'tuple'>

In [29]:
# Empty tuple
e = ()
print(e)
print(type(e))

()
<class 'tuple'>

In [31]:
#optional parenthesis
p = 1, 1, 2, 3, 5
print(p)
print(type(p))
# note tuple is the default collection type

(1, 1, 2, 3, 5)
<class 'tuple'>

### Returning and Unpacking Tuples
This is often used when returning multiple values from a function

In [45]:
def minMax(items):
    return(min(items), max(items))

a = minMax([1, 3, 156])
print ('a = ', a)
print('type of a is ', type(a))

a =  (1, 156)
type of a is  <class 'tuple'>

In [47]:
# Returning multiple values form a function as a tuple is often used in conjunction with a feature called tuple unpacking
lower, upper = minMax(a)
print(lower)
print(upper)

1
156

#### Task
Swap values of variables with tuple unpacking

In [49]:
a = "jelly"
b = "bean"
a, b = (b, a)
print(a)
print(b)

bean
jelly

### Tuple constructor: tuple(*iterable*)

In [53]:
# list to tuiple
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [54]:
#string to tuple
tuple("Weber State University")

('W',
 'e',
 'b',
 'e',
 'r',
 ' ',
 'S',
 't',
 'a',
 't',
 'e',
 ' ',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y')

#### Test Membership

In [55]:
5 in (3, 5, 7, 11)

True

In [56]:
5 not in (3, 5, 7, 11)

False

# Strings
### Find the size of the string with len()

In [57]:
len("This is a long string")

21

### Concatenation of strings

In [58]:
"New" + " " + "world"

'New world'

In [59]:
s = "part1"
s += " part2"
s += " part3"
s += " part4"
print(s)

part1 part2 part3 part4

### Joining strings
The recommendation is to use the built-in **join()** instead of += because it is more efficient memory wise

The **join()** method takes a collection of strings as an arugment and produces a new string by inserting a seperator between each of them.

In [70]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
print(teams)

Utah Jazz;LA Lakers;Boston Celtics

In [71]:
w = "".join(["high", "low", ])
print(w)

highlow

### Splitting a string with **split()**

In [72]:
teams.split(";")

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning Strings with Partition()
This method returns a tuple

In [75]:
departure, seperator, arrival = "London:Edinburg".partition(":")
print(departure)
print(arrival)

London
Edinburg

In [76]:
#dummy object
departure, _, arrival = "London:Edinburg".partition(":")
print(departure)
print(arrival)

London
Edinburg

### String Formating with *format()*
This method can be used on any string containing so-called replacement fields which are surrounded by curly braces.

In [78]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [81]:
# you can repeat parameters in the string

print("The age of {0} is {1}. {0}'s birthday is on {2}".format("mario", 21, "Feb 2"))

The age of mario is 21. mario's birthday is on Feb 2

In [83]:
#if the field names are used once, and in the same order as the argument, they can be omitted

print("Reticulating spline {} of {} ".format(4, 23))

REticulating spline 4 of 23

In [85]:
# keyword arguments are suppleid to the format() then named fields can be used instead of ordinals:

print("Current position {lat} {lon}".format(lat = "60N", lon="5e"))

Current position 60N 5e

In [86]:
# you can use index into the sequence using square brackets 
print("galactic position x = {pos[0]}, y = {pos[1]}".format(pos=(65.2, 23.1)))

galactic position x = 65.2, y = 23.1

# Range use *range()*
A range is used to represent an arithmetic progression of integers.

In [93]:
range(5)
# default starting value is 0

range(0, 5)

In [95]:
#iterate over it

for i in range(5):
    print (i)

0
1
2
3
4

In [96]:
#SEt the initial value
for i in range(5, 10):
    print (i)

5
6
7
8
9

In [97]:
# cast it to a list
list(range(10, 15))

[10, 11, 12, 13, 14]

In [103]:
#combine multiple
list(range(5, 10)) + list(range(15, 20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [104]:
#set the step argument
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [105]:
list(range(20, 0, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [106]:
# not using range to enumerate: poor style
s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [108]:
# above code is very un-pythonic
#python is no C
for v in s:
    print(v)

0
1
4
6
13

If you need a counter, then use the **enumerate()** function
which returns an iterable series:

In [109]:
t = [6, 11, 33, 444, 55, 1]
for p in enumerate(t):
    print(p)
# note p is a tuple and can be unpacked

(0, 6)
(1, 11)
(2, 33)
(3, 444)
(4, 55)
(5, 1)

In [111]:
#unpack the tuple - i and v
for i, v in enumerate(t):
    print("i={0}, v={1}".format(i, v))

i=0, v=6
i=1, v=11
i=2, v=33
i=3, v=444
i=4, v=55
i=5, v=1

# List
Heterogenous, mutable sequence
* Index notation
* square brackets

In [113]:
s = "Show me the money".split()
s

['Show', 'me', 'the', 'money']

In [114]:
s[3]

'money'

In [115]:
# Negative indexing
print(s[-1])

money

In [116]:
s[-2] #one before last

# This is better than C style:
s[len(s)-2]

'the'

## Slicing List

In [117]:
s = [3, 185, 22, 44, 90, -2, 33]
print(s)

[3, 185, 22, 44, 90, -2, 33]

In [120]:
# getting a sub-range
# called slicing
print(s[1:4])
print(s[1:-1])

[185, 22, 44]
[185, 22, 44, 90, -2]

In [123]:
#starting position until the end
print(s[2:])
print(s[:4])
print(s[:]) #full slice

[22, 44, 90, -2, 33]
[3, 185, 22, 44]
[3, 185, 22, 44, 90, -2, 33]

In [124]:
# full slice is a deep copy??
full_slice = s[:]
full_slice is s

False

In [126]:
# same values?
full_slice == s
# deep copy

True

## Copy list

In [127]:
t = s #shallow copy
print(t is s)

True

In [128]:
#prefered method is copy(), not full slice for better memory management
u = s.copy()
print(u is s)
print(u == s)

False
True

In [129]:
# simply call the list constructor list()
v = list(s)
print (v is s)
print(v == s)

False
True

## Shallow copies
Copy the references, not the values

In [130]:
a = [[1, 2], [3, 4]]
print(a)
b = a[:]
print(a is b)
print(a == b)

[[1, 2], [3, 4]]
False
True

In [131]:
# Modify one list
print(a[0])
print(b[0])
print(a[0] is b[0])

[1, 2]
[1, 2]
True

In [132]:
# The above statement is TRUE because all **copies are shallow**
a[0] = [8, 9]
print(a[0])
print(b[0])
print(a[0] is b[0])

[8, 9]
[1, 2]
False

In [133]:
print(a[1] is b[1])

True

In [136]:
a[1].append(5)
print(a)
print(b)
# woah - what happened? it didn't realize the need for a new one because it appended to a, not change it

[[8, 9], [3, 4, 5]]
[[1, 2], [3, 4, 5]]

## Repeating a list
As for strings ande tuples, list support repition using the multiplication operator

In [137]:
c = [21, 37]
d = c*4
print(d)

[21, 37, 21, 37, 21, 37, 21, 37]

In [139]:
# Good to initalize values
print([0] * 9)

# but it's 9 copies of zero
# Beware!

s = [[-1, 1]] * 5
print (s)

# modify one member
s[2].append(7)
print (s)

[0, 0, 0, 0, 0, 0, 0, 0, 0]
[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]
[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [140]:
s[1] = [3, 4, 5]
print(s)

[[-1, 1, 7], [3, 4, 5], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

Find the first element using **index()**

In [142]:
w = "the quick brown fox jumps over the lazy dog".split()
print(w)

# get the index
print(w.index('fox'))

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
3

In [143]:
print(w.index('fox'))
print(w.index('unicorn')) -- Value error

SyntaxError: invalid syntax (<ipython-input-143-49a39b80c112>, line 2)

To coun instances of a value in the list use **count()**

In [145]:
print(w.count('the'))
print(w.count('unicorn')) # test membership
print(3 in [1, 2, 3, 4]) # test membership
print(37 in [1, 2, 3, 4]) # test membership

2
0
True
False

### Remove elelments from list with del()

In [148]:
u = "the quick brown fox jumps over the lazy dog".split()
del u[3]
print(u)

['the', 'quick', 'brown', 'jumps', 'over', 'the', 'lazy', 'dog']

#### more remove with *remove()*

In [149]:
u.remove("jumps")
print(u)

['the', 'quick', 'brown', 'over', 'the', 'lazy', 'dog']

#### Insert() Method
Accepts the index of the new item and the new item itself

In [150]:
a = "I accidentially exploted the universe".split()
print(a)
a.insert(4, 'whole')
print(a)

['I', 'accidentially', 'exploted', 'the', 'universe']
['I', 'accidentially', 'exploted', 'the', 'whole', 'universe']

### Concatenation of list

In [157]:
m = [1, 2, 3]
n = [4, 5, 6]
k = m + n
print(k)

[1, 2, 3, 4, 5, 6]

In [158]:
# where the augmented assignment operator +=
# modifies the assignee in place
t += [18, 34, 99]
print(t)

[3, 185, 22, 44, 90, -2, 33, 18, 34, 99, 18, 34, 99, 18, 34, 99]

In [159]:
# A similar effect can be achieved with extend()
k.extend([44, 45, 46])
print(k)

[1, 2, 3, 4, 5, 6, 44, 45, 46]

### Rearrange elements:
* reverse()
* sort()
* key()

In [160]:
g = [1, 11, 21, 31, 41, 51]
print(g)
g.reverse()
print(g)

# sort list
d = [5, 22, 43, 11, -9, 0, 65, 33]
print(d)
d.sort()
print(d)

d.sort(reverse = True)
print(d)

[1, 11, 21, 31, 41, 51]
[51, 41, 31, 21, 11, 1]
[5, 22, 43, 11, -9, 0, 65, 33]
[-9, 0, 5, 11, 22, 33, 43, 65]
[65, 43, 33, 22, 11, 5, 0, -9]

In [ ]:
# the key parameter is more interesting

In [161]:
w = "the quick brown fox jumps over the lazy dog".split()
w.sort(key = len)
print(w)

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

# Dictionaries
An unordered mapping from unique immutable keys to mutable values

In [167]:
url = {'google': 'www.google.com', 'twitter': 'www.twitter.com', 'WSU': 'www.wsu.edu'}
print(url['WSU'])

# The dict() can convert from other types to dictionaires
names_and_ages = [('Alice', 32), ('John', 33), ('Maria', 20)]
print(names_and_ages)
d = dict(name_and_ages)
print(d)
print(type(d))

www.wsu.edu
[('Alice', 32), ('John', 33), ('Maria', 20)]

NameError: name 'name_and_ages' is not defined

In [164]:
phonetic = dict(a = 'alpha', b = 'bravo', c = 'charlie', d = 'delta', e = 'echo', f = 'foxtrot')

In [165]:
print(phonetic)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [168]:
pcopy = phonetic.copy() # copy with the copy method
print(pcopy)

# second method
f = dict(phonetic)
print(f)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}
{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Updating dictionaries with update()

In [169]:
stocks = {'GOOG':891, 'AAPL':416, 'IBM':239}
print(stocks)
stocks.update({'GOOG':894, 'YHOO':25})
print(stocks)

{'GOOG': 891, 'AAPL': 416, 'IBM': 239}
{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}

In [171]:
# iterate over dict
#itterate keys
for key in stocks:
    print (key)
    
#itterate values
for v in stocks:
    print(v)

GOOG
AAPL
IBM
YHOO
GOOG
AAPL
IBM
YHOO

In [173]:
# use items() for both key and values
for k, v in stocks.items():
    print (k, "=>", v)

GOOG => 894
AAPL => 416
IBM => 239
YHOO => 25

In [174]:
# test for membership for dictionary keys with in and not in
print('GOOG' in stocks)
print('WIN' not in stocks)

True
True

#### Removing items from a dict with del()

In [175]:
print(stocks)
del(stocks['YHOO'])
print(' ')
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}

{'GOOG': 894, 'AAPL': 416, 'IBM': 239}

#### Mutability of dictionaries
We cannot modify the key, but we can modify the values

In [180]:
isotopes = {'H':[1, 2, 3], 
         'He':[3, 4], 
         'Li': [6, 7], 
         'Be': [7, 8, 10],
         'B': [10, 11], 
         'C': [11, 12, 13, 14]}
print(isotopes)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [181]:
isotopes['H']+=[4, 5, 6, 7]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [182]:
# add members
isotopes['N'] = [13, 14, 15]

In [183]:
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14], 'N': [13, 14, 15]}

To pring in a more readable way, use **pprint** or **Pretty printing**

Note: you need more than 80 char to make any differenece

In [184]:
from pprint import pprint as pp

In [185]:
pp(isotopes)

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

See example swaplist.py

# Sets
* An unordered collection of unique immutable objects
* Use Curly { } to create it
* Have the set() constructor
* Similar to dictionaries, but each item is a single object (no key)

In [186]:
p = {6, 28, 496, 8128, 33550289}
print(p)
print(type (p))

{8128, 6, 496, 33550289, 28}
<class 'set'>

In [187]:
# empty set
e = set()
print (type(e))

<class 'set'>

### Duplicates are removed

In [188]:
t = [1, 4, 2, 6, 77, 2, 1, 99]
print (t)
s = set(t)
print(s)

[1, 4, 2, 6, 77, 2, 1, 99]
{1, 2, 99, 4, 6, 77}

### Iterate over set

In [190]:
for x in t:
    print (x)

print (" ")

for x in s:
 print(x)

1
4
2
6
77
2
1
99

1
2
99
4
6
77

### membership testing

In [191]:
q = {2,9, 6, 4}
print (3 in q)

False

### Adding elements to sets. Use add() or Update()

In [194]:
k = {32, 55}
print(k)
k.add(23)
print(k)

k.update([33, 21, 41])
print(k)

{32, 55}
{32, 23, 55}
{32, 33, 41, 21, 55, 23}

### Removing elements use remove() method

In [195]:
print(k)
k.remove(55)
print(k)
# thows error if not present

{32, 33, 41, 21, 55, 23}
{32, 33, 41, 21, 23}

In [196]:
#use discard to avoid error if the element does not exist
print(k)
k.discard(55)
print(k)

{32, 33, 41, 21, 23}
{32, 33, 41, 21, 23}

### To copy use copy() or set() constructors

In [197]:
j = k.copy()
print(j)
print(j is k)

{32, 33, 21, 23, 41}
False

In [198]:
m = set(k)
print(m)
print(m is k)

{32, 33, 21, 23, 41}
False

## Set Algebra operations
It supports the following operations:
* union
* intersection
* difference
* symetric_difference
* Subset 
* and more

see testSets.py

## Colection Protocols

Protocol  |   Implementing Colection
----------|   ---------------------
Container (in, not in) |   str, list, dict, range, tuple, set, bytes
Sized   (len)   |   str, list, dict, range, tuple, set, bytes
Iterable (for) |   str, list, dict, range, tuple, set, bytes
Sequence  |   str, list, dict, range, tuple, set, bytes
Mutable Sequence |  list
Mutable Set | set
Mutable Mapping | dict

# Handling Exceptions

Is a mechanism for stopping normal program flow and continuaingat some surround context or block of code

Key concepts: 
* Rais an exception to intrerupt program flow
* Handle and exception to resume control 
* Unhandled exception will terminate a program
* Exception object contain information about the exeption event.

Use **try** with **excpet** block to test code

### Re-Raising exceptions

If you want to capture all excpetions use:
except exception


See
* exceptions.py
* roots.py

### Note that exception handing is expensive on performance, consider if this is what you really want, or if you'd rather it crash

## Exception, APIs, and Protocols
Exceptions are par tof a function's API and more broadly they are part of certain protocols
* **IndexError** raised when an integer is out of range.
* **ValueError** raised when the object is of the right type, but contains an inappropriate value.
* **KeyError** raised when a look-up in a mapping fails
* search python documentation section 5.2 for a list of errors "concrete-exceptions"

# Iterables